/*noinspection ALL*/
#banner {
    background-color: #001f3f;
    color: #FFFFFF
}

/*noinspection ALL*/
#textOutput {
    position: fixed;
    display: inline-block;
    vertical-align: bottom;
    overflow-y: auto;

    top: 0;
    left: 10px;
    right: 10px;
    bottom: 100px;

    margin-left: 0;
    margin-top: 80px;

    background-color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
}

/*noinspection ALL*/
#footer {
    z-index: 2;
    position: fixed;
    height: 20px;

    left: 10px;
    right: 10px;
    bottom: 0;

    margin-left: 0;

    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 65px;
}

/*noinspection ALL*/
#submitButton {
    z-index: 3;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
